.form-group.required .form-label::after{
    content: " *";
    color:red;
}

.errorMessage {
    color: red;
}

.input-group .form-control {
    border-right: 0 solid transparent !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .input-group-append .btn{
    border-left: 0 solid transparent !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .input-group-append .btn i {
    color: red;
}