<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <form 
                  #loginForm="ngForm" 
                  (ngSubmit)="login()" 
                  autocomplete="off">
                    
                    <h3 class="mb-5">Sign in</h3>
                
                    <div class="form-outline mb-4">
                        <input 
                            #username="ngModel"
                            id="username"
                            name="username"
                            [(ngModel)]="model.username"
                            type="text" 
                            placeholder="Username" 
                            id="typeEmailX-2" 
                            required
                            class="form-control form-control-lg" />
                          
                         <small *ngIf="username.invalid && 
                            (username.dirty || username.touched)" 
                            class="errorMessage"> Username is required. </small>
                    </div>

        
                    <div class="form-outline mb-4">
                        <input 
                            #password="ngModel"
                            name="password"
                            [(ngModel)]="model.password"
                            type="password" 
                            placeholder="Password" 
                            id="typePasswordX-2"
                            required
                            class="form-control form-control-lg" />
                        <small *ngIf="password.invalid && 
                            (password.dirty || password.touched)" 
                            class="errorMessage"> Password is required. </small>
                    </div>

                    <hr>

                    <small *ngIf="errorMessage != ''" 
                            class="errorMessage"> {{ errorMessage }} </small>

                    <br>

                    <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">Login</button>
        
                </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>